hal_client_domain(system_app, hal_mlipay)
allow system_app sysfs_zram:file { read open getattr };
allow system_app proc_vmallocinfo:file { read open getattr };
allow system_app sysfs_thermal:file w_file_perms;
get_prop(system_app, settingslib_prop)
