# Balance (default profile)
on property:baikal.power.thermal=1
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-sdm845.conf"
    stop vendor.thermal-engine
    start vendor.thermal-engine
    write /sys/class/thermal/thermal_zone34/trip_point_0_temp 85000
    write /sys/class/thermal/thermal_zone33/trip_point_0_temp 90000
    setprop "baikal.eng.therm.cur_profile" "balance"

# High
on property:baikal.power.thermal=5
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-sdm845-high.conf"
    stop vendor.thermal-engine
    start vendor.thermal-engine
    write /sys/class/thermal/thermal_zone34/trip_point_0_temp 95000
    write /sys/class/thermal/thermal_zone33/trip_point_0_temp 100000
    setprop "baikal.eng.therm.cur_profile" "high"


# NoLimits
on property:baikal.power.thermal=4
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-sdm845-nolimits.conf"
    stop vendor.thermal-engine
    start vendor.thermal-engine
    write /sys/class/thermal/thermal_zone34/trip_point_0_temp 100000
    write /sys/class/thermal/thermal_zone33/trip_point_0_temp 115000
    setprop "baikal.eng.therm.cur_profile" "nolimits"

# Cool
on property:baikal.power.thermal=6
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-sdm845-cool.conf"
    stop vendor.thermal-engine
    start vendor.thermal-engine
    write /sys/class/thermal/thermal_zone34/trip_point_0_temp 60000
    write /sys/class/thermal/thermal_zone33/trip_point_0_temp 65000
    setprop "baikal.eng.therm.cur_profile" "cool"

# Cold
on property:baikal.power.thermal=7
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-sdm845-cold.conf"
    stop vendor.thermal-engine
    start vendor.thermal-engine
    write /sys/class/thermal/thermal_zone34/trip_point_0_temp 55000
    write /sys/class/thermal/thermal_zone33/trip_point_0_temp 60000
    setprop "baikal.eng.therm.cur_profile" "cold"

# Phone
on property:baikal.power.thermal=9
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-sdm845-cool.conf"
    stop vendor.thermal-engine
    start vendor.thermal-engine
    write /sys/class/thermal/thermal_zone34/trip_point_0_temp 50000
    write /sys/class/thermal/thermal_zone33/trip_point_0_temp 55000
    setprop "baikal.eng.therm.cur_profile" "incall"

# Gaming
on property:baikal.power.thermal=2
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-sdm845-tgame.conf"
    stop vendor.thermal-engine
    start vendor.thermal-engine
    write /sys/class/thermal/thermal_zone34/trip_point_0_temp 95000
    write /sys/class/thermal/thermal_zone33/trip_point_0_temp 100000
    setprop "baikal.eng.therm.cur_profile" "gaming"

# Gaming 2
on property:baikal.power.thermal=3
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-sdm845-tgame2.conf"
    stop vendor.thermal-engine
    start vendor.thermal-engine
    write /sys/class/thermal/thermal_zone34/trip_point_0_temp 100000
    write /sys/class/thermal/thermal_zone33/trip_point_0_temp 115000
    setprop "baikal.eng.therm.cur_profile" "gaming2"

# Camera
on property:baikal.power.thermal=8
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-sdm845-camera.conf"
    stop vendor.thermal-engine
    start vendor.thermal-engine
    write /sys/class/thermal/thermal_zone34/trip_point_0_temp 70000
    write /sys/class/thermal/thermal_zone33/trip_point_0_temp 75000
    setprop "baikal.eng.therm.cur_profile" "camera"

# VR
on property:baikal.power.thermal=10
    setprop sys.qcom.thermalcfg "/vendor/etc/thermal-engine-sdm845-arvr.conf"
    stop vendor.thermal-engine
    start vendor.thermal-engine
    write /sys/class/thermal/thermal_zone34/trip_point_0_temp 70000
    write /sys/class/thermal/thermal_zone33/trip_point_0_temp 75000
    setprop "baikal.eng.therm.cur_profile" "vr"




on property:baikal.power.perf=0
    setprop "baikal.eng.perf.cur_profile" "none"

on property:baikal.power.perf=7
    setprop "baikal.eng.perf.cur_profile" "balance"

on property:baikal.power.perf=1
    setprop "baikal.eng.perf.cur_profile" "low"

on property:baikal.power.perf=2
    setprop "baikal.eng.perf.cur_profile" "sustain"

on property:baikal.power.perf=3
    setprop "baikal.eng.perf.cur_profile" "fixed"

on property:baikal.power.perf=8
    setprop "baikal.eng.perf.cur_profile" "idle"

